# Ignorar arquivos e pastas de compilação
/target/
Java/auth-service/target/
Java/product-catalog-service/target/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração de IDEs
.idea/
.vscode/
*.iml

# Ignorar arquivo .env
**/.env